<div class="container-fluid">
    <br/>
    <div class="row">
       
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
          All Raised Complaints
                </div>
                <div class="card-body">
                  <input type="button" value="Work In Progress" class="btn btn-info" (click)="action1()" />&nbsp;&nbsp;
                  <input type="button" value="Resolved" class="btn btn-info" (click)="action2()" />&nbsp;&nbsp;
                  <input type="button" value="Esclated" class="btn btn-info" (click)="action3()" />
                </div>
            </div>
           
        </div>
      
    </div>
</div>
