<div class="container-fluid" *ngIf="!chk">
    <br/>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Forgot Password</div>
                <div class="card-body">
                    <form [formGroup]="emailform" (ngSubmit)="action()">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control"/>
                        <br/>
                     
                        <input type="submit" class="btn btn-info"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    </div>


<div class="container-fluid" *ngIf="chk1">
    <br/>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Forgot Password</div>
                <div class="card-body">
                    <form [formGroup]="changepasswordform" (ngSubmit)="action1()">
                        <label>New Password</label>
                        <input type="text" formControlName="newpassword" class="form-control"/>
                        <br/>
                        <label>Confirm Password</label>
                        <input type="text" formControlName="confirmpassword" class="form-control"/>
                        <br/>
                        <input type="submit" class="btn btn-success"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    </div>
