<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src="/assets/Images/pic1.jpg" width="60px" height="60px" style="border-radius: 30px;">&nbsp;&nbsp;
      <label style="font-weight: bold;font-size: larger;">Connection</label>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/users" class="nav-link active" aria-current="page">Users</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/managers" style="color: black;">Managers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/engineers" style="color: black;">Engineers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" style="color: black;">FeedBacks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/complaints" style="color: black;">Complaints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/allissues" style="color: black;">Issues</a>
        </li>
        
      </ul>
      <form class="d-flex" style="padding-left: 430px;">
       <a routerLink="/register" style="color: black;">Register/</a>
       <a routerLink="/login" style="color: black;">Log-Out</a>
      </form>
    </div>
  </div>
</nav>
  
  <div class="container-fluid"  >
  
  <div class="row">
  
  
  <div class="col-md-12">
  <ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/Images/pic2.jpg" alt="Random first slide" height="530px" style="display: inline-block;width: 100%;"/>
    </div>
  
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/Images/pic3.jpg" alt="Random second slide" height="530px" style="display: inline-block;width: 100%;"/>
    </div>
  
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/Images/pic4.jpg" alt="Random third slide"height="530px" style="display: inline-block;width: 100%;"/>
    </div>
   
  </ng-template>
  </ngb-carousel>
  </div>
  </div>
  </div>