<div class="container-fluid">
    <br/>
    <div class="row">
       
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
          All Raised Complaints
                </div>
                <div class="card-body">
                    <table class="table table striped">
                        <tr>
                            <th>User Name</th>
                            <th>PhoneNo</th>
                            <th>Address</th>
                            <th>Pin Code</th>
                            <th>Problem</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let i of compalaint">
                            <td>{{i.username}}</td>
                            <td>{{i.phoneno}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.pincode}}</td>
                            <td>{{i.problem}}</td>
                            <td>{{i.status}}</td>
                            <td><input type="button" value="Solve" class="btn btn-warning" (click)="action(i.id)" /></td>
                        </tr>
                    </table>
                </div>
            </div>
           
        </div>
      
    </div>
</div>
